@font-face{
	font-family: 'font_name1';
	src:url('fonts/Inter/static/Inter-Black-slnt=0.ttf');
}
@font-face{
	font-family: 'font_name2';
	src:url('fonts/Inter/static/Inter-Bold-slnt=0.ttf');
}
@font-face{
	font-family: 'font_name3';
	src:url('fonts/Crimson_Text/CrimsonText-Bold.ttf');
}
@font-face{
	font-family: 'font_name4';
	src:url('fonts/Crimson_Text/CrimsonText-BoldItalic.ttf');
}
@font-face{
	font-family: 'font_name5';
	src:url('fonts/Crimson_Text/CrimsonText-Italic.ttf');
}
@font-face{
	font-family: 'font_name6';
	src:url('fonts/Lobster/Lobster-Regular.ttf');
}

